
*{
    padding: 0;
    margin: 0;
}

body{ font-family: 'rennersemi';}

/* NAVBAR */

.nav-bar{
    display: flex;
    justify-content: space-around;
    align-items: center;
    
    
    .nav-brand img{
        width: 280px;
        height: 250px;
    }
    
    .nav-links{
        display: flex;
        gap: 50px;
        color: #FF7F00;
       
        li:not(.active ,:hover){
            list-style: none; 
        }

        img{ height: 30px; }

        a{
            text-decoration: none;
            color: black;
            font-size: 18px;
            font-weight: 500;

            &:hover{color: #FF7F00}
            &#active{ color: #FF7F00;}
        }
       
    }

    #myNav{
        display: none;
        transition: 0.8s; 
    }

    .openbtn{ 
        display: none;
        position: relative;
        top: -20px;
    }


    .overlay {  
        height: 50vh;
        width:50%;
        position: fixed;
        z-index: 1;
        right: 0;
        top: 0;
        background-color: #FF7F00;
        overflow-x: hidden; 
        transition: 0.8s; 
    }
    
    
    .overlay-content {
        position: relative;
        top: 25%;
        width: 100%;
        text-align: center;
        margin-top: 30px; 
        transition: 0.8s; 
    
    }
    

    .overlay a {
        padding: 8px;
        text-decoration: none;
        font-size: 36px;
        color: black;
        display: block;
        transition: 0.3s; 
    }
    
    .overlay a:hover, .overlay a:focus {
        color: #f1f1f1;
    }
    
    .overlay .closebtn {
        position: absolute;
        right: 20px;
        top: 20px;
        font-size: 60px;
        color: black;
    }
  
    @media   (max-width: 991px) {

        .nav-links{display: none;}
        .openbtn{
            display: block;
            font-size: 50px;
        }

    .nav-brand img{
        width: 200px;
        height: 180px;
        margin-right: 200px;
    }
    
    }
     
}

/* HERO */

#hero{
    margin-bottom: 190px;

    .main-div{
        display: flex;
        justify-content: space-around;
        align-items: center;
    }

    h1{
        font-size: 70px;
        font-weight: 700;
        width: 340px;
    }

    img{
        background-color: blue;
    }

    span{color: #FF7F00;}
}


/* ABOUT */

.about{
    background-color: black;
    color: white;
    padding-bottom: 100px;

    .about-content{
       display: flex;
       justify-content: space-evenly;
       align-items: flex-end;
       position: relative;
       bottom: 110px;

        .about-text{

            .about-card{
                background-color: #FF7F00;
                color: black;
                padding: 60px;
                line-height: 30px;
                margin-bottom: 100px;

                h3{
                    
                    font-size: 28px;
                    font-weight: 700;
                    line-height: 1.8;
                    font-family: 'rennersemi';
                }

                p{  
                    font-size: 14px;
                    opacity: 70%;
                    margin-top: 20px;
                } 
            }

            p,ul{
                font-size: 14px;
                opacity: 80%;
                font-family: 'rennersemi';
            }
        }
    }

    .about-stats{
        display: flex;
        justify-content: center;
        gap: 30px;
        padding:0px 32px;

            h4{
                font-size: 30px;
                font-weight: 600;
            }

            .meals-card, .families-card{
                background-color: white;
                color: black;
                padding:20px 30px;

                p{opacity: 70%;}
            }

            .target-card{
                display: flex;
                padding: 20px 0px;
                justify-content: space-around;
                background-color: #FF7F00;
                align-items: center;
                
                div:nth-child(2){
                    text-align: right;
                }

                #progressBar {
                    width: 300px;
                    height: 10px;
                    background-color: rgba(253, 249, 249, 0.501);
                    border-radius: 100px;
                }
                
                #myBar {
                    width: 60%;
                    height: 30px;
                    height: 10px;
                    background-color:white;
                    border-radius: 100px;
                    
                }

            }
    }


  /* Large devices (desktops, less than 1200px) */
 
  @media  (min-width:992px) and  (max-width: 1199px) {

      .about-content .about-text .about-card {padding: 30px;}

      .about-stats {
        .families-card , .meals-card {padding: 30px 10px ;}
        .target-card{padding:20px 20px  ;}
      }

  }



  
  /* Medium devices (tablets, less than 992px) */
 
    @media  (min-width:768px) and  (max-width: 991px) {

        .about-content{
            flex-direction: column;
            bottom: 0px;
            align-items: center;

            .about-text .about-card{margin-bottom: 20px;}
        }

        .about-stats{
            margin-top: 20px;
            flex-wrap: wrap;

        }

          
    }

    /* Small devices  */

    @media (max-width: 767px){ 

            padding: 20px;

            .about-content{
                flex-direction: column;
                bottom: 0px;
                align-items: center;

                .about-text .about-card{
                    margin-bottom: 20px;
                    padding: 20px;

                    h3{font-size: 18px;}
                }
            }

            .about-stats{
                margin-top: 20px;
                flex-wrap: wrap;}

              .target-card { 
                flex-direction: column;
            }

        }
 }
/* GALLERY */

#gallery{
    margin: 100px 0px;
    
    .div1,.div2{
        display: flex;
        justify-content: center;
        padding:0px 100px;
        gap: 10px;
    }

    .div2{
        margin-top: 10px;

        .card{
            background-color:black;
            padding: 0px 14px;
            
            p{
               color: white;
               font-size: 20px;
               font-weight: 600;
               line-height: 1.8;
            }

            span{color: #FF7F00;}

            .opening-quote{
                text-align: right;
                font-size: 90px;
                height: 65px;
            }
        }
    }
}

/* SERVICES */

#services{
    padding: 0px 130px;
    margin-bottom: 80px;

    .text-div{
        display: flex;
        align-items: center;
        gap: 20px;

        h2{
            font-family: 'oswaldregular';
            color: #FF7F00;
        }

        .line{
            border-top:2px solid #FF7F00;
            width: 100px;
            height: 10px;
        }
    }

    p{
        font-size: 14px;
        width: 90;
        line-height: 1.8;
        margin-top: 15px;
    }

}

/* AIMS */

#aims{
    background-color: black;
    padding: 100px 0px;
    
    .main-div{
        display: flex;
        justify-content: space-around;
        align-items: center;

        .card{
            background-color:#FF7F00;
            padding:40px;
            
            p{
               font-size: 32px;
               font-weight: 600;
               line-height: 1.8;
            }

            span{color:white;}

            .opening-quote{
                text-align: right;
                font-size: 90px;
                height: 65px;
            }
            h5{
                font-size: 13px;
                color: white;
                font-weight: 400;
            }
        } 
        
        .div2{

            .text-div{
                display: flex;
                align-items: center;
                gap: 20px;
        
                h2{
                    font-family: 'oswaldregular';
                    color: #FF7F00;
                }
        
                .line{
                    border-top:2px solid #FF7F00;
                    width: 100px;
                    height: 10px;
                }
            }
        
            p{
                color: white;
                font-size: 14px;
                width: 90;
                line-height: 1.8;
                margin-top: 15px;
            }

        }
    }
}

/* DONATION */

#donate{
    padding: 150px 0px;

    .main-div{
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        line-height: 1.8;

         h2{
            color: #FF7F00;
            font-size: 65px;
            width: 400px;
            margin-left: 120px;
        }

        span{
            font-size: 13px;
            font-weight: 700;
        }

        ul{
            list-style: none;
            padding: 0px;
            font-size: 14px;
            margin-top: 20px;
        } 

        .payment-2{margin-top: 20px; }
    }
}

/* PARTNERS */

#partners{
   padding-bottom: 150px;

    .div1,.div2{
        display: flex;
        justify-content: space-around;

        img{
            object-fit: contain;
        }
    }
}
/* FOOTER */

#footer{
    background-color: black;
    color: rgba(255, 255, 255, 0.783);
    padding: 100px ;

    .div1 {
        display: flex;
        justify-content: space-between;

        .sub-divA{
            display: flex;
            gap: 200px;
        }

        h5{
            font-size:16px;
            margin-bottom: 20px;
            color: white;
        }

       ul{
          display: flex;
          flex-direction: column;
          list-style: none;
          padding: 0px;
         font-size: 14px
       }
       .links{
        flex-direction: row;
        justify-content: space-between;

        a{
            text-decoration: none;
            color: rgba(255, 255, 255, 0.783);
            font-size: 16px;
        }
       }
    }

    .line{margin: 100px 0px;}

    .div2{
        display: flex;
        justify-content: space-between;
        font-size: 14px;

        img{
            height: 22px;
            margin:0px 10px;
        }
    }
}





 /*X-Large devices (large desktops, less than 1400px)*/

 @media  (min-width:1200px) and   (max-width: 1399px) {

    // body{ background-color: yellow;}
 }






  /* Large devices (desktops, less than 1200px) */
 
  @media  (min-width:992px) and  (max-width: 1199px) {
 
    // body{ background-color:green;}

    #about  {
            
        .div1{
            align-items: center;

           .sub-divA .card1{padding: 20px;}
        }
    }
  

  #gallery{
      .div1,.div2{padding: 0px;}
  }

  #donate .main-div h2{margin-left: 0px;}

  #partners .div2{margin-top: 20px; }

}


  
  /* Medium devices (tablets, less than 992px) */
 
  @media  (min-width:768px) and  (max-width: 991px) {

     body{ background-color:grey;}

     .nav-bar .overlay .closebtn {
        top: 20px;
        right: 80px;
     }


    #hero .main-div{
        flex-direction: column-reverse;
        text-align: center;
        gap: 40px;
        
        h1{width: 100%;}
    }


    #about  {
            
        .div1{
            flex-direction: column;
            align-items: center;

           .sub-divA .card1{padding: 20px;}
        }
        .div2{flex-wrap: wrap;}
    }


  #gallery{
      .div1,.div2{padding: 0px; /* flex-direction: column; */ overflow-x: hidden;}
  }

  #services{padding: 20px;}

  #aims .main-div{
    gap: 80px;
    .card{padding: 20px;}
  } 

  #donate .main-div h2{margin-left: 0px;}

  #partners {
    .div2{margin-top: 20px; }
  }
  

  #footer {
        .div1 {
            flex-direction: column;
        }
                
        .line{margin: 50px 0px;}

        .div2{flex-direction: column;}
  }
   
  }



 /* Small devices (landscape phones, less than 768px) */

 @media /* (min-width:576px) and */ (max-width: 767px)  { 

    // body{ background-color: blue;}

    #hero {
        margin-bottom: 40px;

        .main-div{
            flex-direction: column-reverse;
            gap: 100px;
           
            
            h1{width: 100%;}
        }
    }

   #about  {
           
       .div1{
           flex-direction: column;
           align-items: center;

          .sub-divA .card1{padding: 20px;}
       }
       .div2{flex-wrap: wrap;}
   }

   #aims .main-div{
    flex-direction: column;
    gap: 100px;
 }

    #gallery{
        .div1,.div2{padding: 0px;flex-direction: column;}
    }

    #donate .main-div {
         flex-direction: column;
        
         h2{margin-left: 0px;}
    }

    #partners  {

        .div1{flex-direction: column;}
        .div2{margin-top: 20px;flex-direction: column; }
    }


    #footer {
        .div1 {
            flex-direction: column;
            .sub-divA{
                flex-direction: column;
               gap: 0px;
            }
        }
                    
        .line{margin: 50px 0px;}

        .div2{flex-direction: column;}

    }

}


 /* X-Small devices (portrait phones, less than 576px) */

 @media (max-width: 575px) { 
  
    .nav-bar .nav-brand img{
        margin-right: 60px;
    }

    #about .div1{gap: 50px;}

    #services{padding: 0px 0px;}

    #footer{padding: 20px;}
 }




 
